cat > .gitignore <<'EOF'
# Ignore everything
*

# Allow Git to traverse directories
!*/

# Keep these
!.gitignore
!README.md
!LICENSE

# Whitelist the code you want
!**/*.py
!**/*.hta
EOF



/node_modules